#page-map {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100vw;
}

#page-map aside {
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
  width: 440px;
}

#page-map aside h2 {
  font-size: 40px;
  font-weight: 800;
  list-style: 42px;
  margin-top: 64px;
}


#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-map footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

#page-map footer strong {
  font-weight: 800;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .create-orphanage {
  align-items: center;
  background: #15c3d6;
  bottom: 40px;
  border-radius: 20px;
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  right: 40px;
  transition: background 0.2s;
  width: 64px;
  z-index: 10;
}

#page-map .create-orphanage:hover {
  background: #17d6eb;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content {
  align-items: center;
  color: #0089a5;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  margin: 8px 12px;
}

#page-map .map-popup .leaflet-popup-content a {
  align-items: center;
  background: #15c3d6;
  border-radius: 12px;
  box-shadow: 17.2868px 27.6589px 41.4884px rgba(32, 142, 166, 0.16);
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;  
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}